<% title 'View Cell Site' %>
 
<div class="map_container clearfix"> 

<div class="grid_7 alpha">
    
<% if @cell_site.photo_file_name %>
  <div class="cell_site_photo">
    <%= link_to image_tag(@cell_site.photo.url(:medium)), @cell_site.photo.url, :class => 'lightbox' %>
  </div>
<% end %>

  <% add_template(:partial => 'maps/markers/cell_tower_template') %>
  <% add_template(:partial => 'maps/markers/cell_site_template') %>
  <% add_javascript { @map.to_js } %>
  <div class='medium_map'>
    <div id="map">
    </div>
    <div class="loader">
      <img src="/images/loading.gif" />
    </div>
  </div> <!-- MAP end -->
  
</div> <!-- LEFT END -->


<div class="grid_4 alpha">
  <dl>
    <% %w(address city county state nepa qzone supporting_structure_height structure_height structure_type license_id).each do |col| %>
      <% val = @cell_site.send(col) %>
      <% if val.present? %>
        <dt><%= col.humanize.capitalize_most_words %></dt>
        <dd><%= val %></dd>
      <% end %>
    <% end %>
  </dl>
  <p>
    <%= link_to('Previous', cell_site_path(@cell_site.previous)) if @cell_site.previous %>
    <%= link_to('Next', cell_site_path(@cell_site.next)) if @cell_site.next %>
  </p>
</div>

</div>